

.Logoutpage{
    width: 100%;
    height: 607px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 9px solid black;
    padding: 50px 50px;
}

.lh{
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 87, 162);

}

.rh{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
flex-direction: column;
margin: 10px;
}

.rh h2{
    font-size: 30px;
    color:rgb(87, 161, 230) ;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
    gap: 15px;

}

.table input{
    /* width: 404px;
    height: 56px; */
    border: 1px solid rgb(153, 181, 209);
    border-radius: 10px;
    color:rgb(119, 139, 159) ;
    text-align: center;

}

.table2 {
    width: 104px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    color:rgb(119, 139, 159) ;

}

.email{
    width: 404px;
    height: 56px;
}


.check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 120px;
    color: rgb(119, 139, 159);
}

.signUP{
    width: 320px;
    height: 50px;
    border: 1px solid rgb(153, 181, 209);
    border-radius: 10px;
    background-color:rgb(5, 87, 162) ;
    color: white;
}


.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.bottom p{
    font-size: 20px;
    color: rgb(121, 142, 163);
}

.box5{
    width: 100%;
    border: 1px solid rgb(129, 148, 167);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    
}
 
.box5 img{
    width: 15%;
}

.box5 h3{
    font-size: 15px;
}

.up .inn{
    color: blue;
    background: transparent;
    border: none;
    outline: none;
}